{% assign year = site.time | date: '%Y' %}
<footer class="container mb-4">
    <hr class="my-4">
    <div class="row">
        <div class="col text-center">
            <img src="assets/images/cibit-logo-rodape.png" alt="Image 1">
        </div>
        <div class="col text-center">
            <img src="assets/images/icnas-logo-rodape.png" alt="Image 2">
        </div>
        <div class="col text-center">
            <img src="assets/images/Brain-Awareness-Week-logo-rodape.png" alt="Image 3">
        </div>
        <div class="col text-center">
            <img src="assets/images/Dana-logo-rodape.png" alt="Image 4">
        </div>
        <div class="col text-center">
            <img src="assets/images/FENS-logo-rodape.png" alt="Image 5">
        </div>
    </div>
    <hr class="my-4">
	<div class="row align-items-center">
		<div class="col-md-3">
			<img src="assets/images/cibit-logo-rodape.png" class="img-fluid" alt="Image">
		</div>
		<div class="col-md-3">
			<img src="assets/images/icnas-logo-rodape.png" class="img-fluid" alt="Image">
		</div>			
	</div>
	<div class="row align-items-center">
		<div class="col-md-3">
			<img src="assets/images/Brain-Awareness-Week-logo-rodape.png" class="img-fluid" alt="Image">
		</div>
		<div class="col-md-3">
			<img src="assets/images/Dana-logo-rodape.png" class="img-fluid" alt="Image">
		</div>
		<div class="col-md-3">
			<img src="assets/images/FENS-logo-rodape.png" class="img-fluid" alt="Image">
		</div>	
	</div>	
	
</footer>
