---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        <hr class="my-4">
        <div class="row align-items-start">
            <div class="col-md-6">				
                <!-- Image goes here -->
				<img src="../assets/images/{{ page.map_image }}" class="img-fluid" alt="Image">
				<p class="text-center"><a href="{{ page.map_google }}" target="_blank">Ver mapa do UC-Polo III no Google Maps</a></p>
            </div>
            <div class="col-md-6">
                <h4>Local:</h4>
				<p>{{ page.address }}</p>			
				<h4>Salas:</h4>
				<p>{{ page.room_list }}</p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>	
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				
            </div>
        </div>
				
    </div>
</main>

{% include footer.html %}