---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        <hr class="my-4">
		
        <div class="row align-items-start">
            <div class="col-md-6">
                <!-- Image goes here -->
                <img src="../assets/images/{{ page.organizer01_logo }}" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-6">
				<h5><a href="{{ page.organizer01_site }}" target="_blank">{{ page.organizer01_name }}</a></h5>
                <p>{{ page.organizer01_description }}</p>
            </div>
        </div>
		
		<div class="my-4"></div>
		        
        <div class="row align-items-start">
            <div class="col-md-6">
                <!-- Image goes here -->
                <img src="../assets/images/{{ page.organizer02_logo }}" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-6">
				<h5><a href="{{ page.organizer02_site }}" target="_blank">{{ page.organizer02_name }}</a></h5>
                <p>{{ page.organizer02_description }}</p>
            </div>
        </div>	
		<p></br></p>
		<p></br></p>
		<p></br></p>
		<p></br></p>
		<p></br></p>		
		<p></br></p>
		<p></br></p>
		<p></br></p>
		<p></br></p>
		<p></br></p>		
    </div>
</main>

{% include footer.html %}